/* PsycholgistProfile.css */

.doctorProfileContainer {
  background-color: #87ceeb; /* Sky Blue */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.doctorImg {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.doctorName {
  color: #007bff; /* Sky Blue */
  font-weight: 700;
  margin-top: 10px;
}

.doctorInfo {
  color: #333;
  font-size: 1rem;
  margin-top: 10px;
}

.designation,
.speciality,
.experience,
.gender,
.rating,
.education-training,
.work-experience {
  margin-bottom: 5px;
  display: block;
}
