.skyBgColor {
  background-color: black; /* Replace with your preferred sky color */
}
/* Add this CSS in your Header.css file */
.logo{
  font-style: italic;
  color: #fff; /* Replace with your preferred color */
  padding-right: 20px

}
.navLink {
  color: white; /* Default link color */
  text-decoration: none; /* Removes underline from links */
  padding: 0.5rem 1rem; /* Adds padding around the links for better spacing */
}

/* .navLink.active {
  color: black; 
  background-color: transparent; 
  border-bottom: 2px solid #fff;
  background: white;
} */
.navLink.active {
  color: black; /* Active link text color */
  background-color: white; /* Background color for active state */
  border-bottom: 2px solid #fff; /* Adds a bottom border */
}

.navLink.pending {
  color: #ffc107; /* Pending link color */
}
