.skyBgColor {
  background-color: #3498db; /* Replace with your preferred sky color */
}
/* Add this CSS in your Header.css file */
.logo{
  font-style: italic;
  color: #fff; /* Replace with your preferred color */
  padding-right: 20px

}
.navLink {
  color: white; /* Default link color */
  text-decoration: none; /* Removes underline from links */
  padding: 0.5rem 1rem; /* Adds padding around the links for better spacing */
}

.navLink.active {
  color: #fff; /* Active link color */
  background-color: transparent; /* Removes background color */
  border-bottom: 2px solid #fff; /* Adds a bottom border */
}

.navLink.pending {
  color: #ffc107; /* Pending link color */
}
